.wrapper {
  display: flex;
}

.header-main-small {
  display: none;
}
.header-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.625rem;
}

.main-content{
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  max-width: 50rem;
}
@media screen and (max-width: 768px) {
  .navbar-inner{
      padding: 0.8rem 1rem;
  }
  .navbar-item{
      margin-left: 1rem;
  }
  .main-content{
    margin-top: 65px;
    padding: 0.8rem 1rem;
    max-width: 30rem;
  }
  
}