.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skills-cards-wrapper {
  margin-bottom: 2rem;
  width: 50%;
}

.skills-card {
  height: 100%;
}
.skills-card-header {
  margin-top:0;
  margin-bottom: 0;
}
.skills-card-header-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.skills-card-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.skills-item-spacing {
  margin-right: 0.5rem;
}

.skills-avatar-placement {
  margin-bottom: 2rem;
}



