.skills-wrapper {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  max-width: 50rem;
}
.skills-cards-wrapper {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 22rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--testimonial-box-shadow);
}

.skills-card {
  height: 100%;
}
.skills-card-header {
  margin-top:0;
  margin-bottom: 0;
}
.skills-card-header-content {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.skills-card-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.skills-item-spacing {
  margin-right: 0.5rem;
}
