.social-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.social-list li {
  padding-bottom: 0.8rem;
}

.social-list li:last-child {
  padding-bottom: 0;
}

.social-list li a {
  display: block;
  text-align: left;
  text-decoration: none;
  box-shadow: none;
}

.social-list li a:hover {
  opacity: 1 !important;
}
